body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

/* 10/16*100 */

header nav ul {
  list-style: none;
  text-align: center;
}

header nav ul li {
  display: inline-block;
  padding: 1rem;
}

header nav ul li a {
  text-decoration: none;
  color: goldenrod;
}

header nav ul li a:hover {
  color: gold;
  text-decoration: underline;
  cursor: pointer;
}

/* Main Container */

.main-container {
  display: flex;
}

aside ul {
  list-style: none;
}

aside ul li {
  margin-bottom: 0.8rem;
}

aside ul li a {
  text-decoration: none;
  color: grey;
}

aside h6 {
  text-align: center;
  padding: 0.8rem;
  font-size: 1.5rem;
  margin: 0;
}

img {
  max-width: 100%;
}

/* footer */

footer {
  font-size: 1.5rem;
  text-align: center;
}

/* media queries */

@media screen and (max-width: 700px) {
  body {
    background-color: rgb(173, 70, 70);
  }
}
@media screen and (max-width: 600px) {
  body {
    background-color: rgb(40, 116, 40);
  }
}
@media screen and (max-width: 500px) {
  body {
    background-color: rgb(80, 80, 201);
  }
  aside {
    display: none;
  }
  /* section {
    display: flex;
    flex-direction: row;
  } */
}
